@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.oldcomments {
  &-individual {
    width: 90vw;
    border-bottom: $divider-width solid $divider-color;
    padding: $mob-spacing-small 0;

    @include flexbox(row, flex-start, center);
  }

  &__image {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1.2rem;
    background-color: $color-secondary-mercury;
    // overflow: hidden;

    // &[src] {
    //   // content: "";
    //   // margin-left: -5rem;
    //   // transform: translateX(10rem);
    // }
    // dont need alt prop as used '' as alt
    // &[alt] {
    //   text-indent: -5rem;
    // }

    &-container {
      height: 12rem;

      @include flexbox(column, flex-start, center);
    }
  }

  &__details {
    margin-bottom: 1.2rem;
    @include flexbox(row, space-between, center);
  }

  &__date {
    color: $color-primary-silver;
  }

  &__text {
    word-wrap: break-word;
  }
}
