@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  &__video {
    width: 100vw;
    height: auto;

    @include tablet {
      width: 90vw;
      height: 50vw;
    }

    @include desktop {
      width: 70vw;
    }
  }
}
