@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.button {
  width: 90vw;
  height: $button-height;
  background-color: $color-primary-blue;
  color: $color-primary-white;
  border: 0;
  border-radius: $button-radius;
  text-align: center;
  cursor: pointer;

  @include flexbox(row, center, center);

  &:hover {
    background-color: $color-secondary-dark-blue;
  }

  &__image {
    color: $color-primary-white;
    height: 2rem;
    width: 2rem;
    margin-left: 1rem;
    // margin-right: 7rem;
    // border-radius: 50%;

    &--navbar {
      margin-right: 9rem;
    }
    &--comment {
      margin-right: 5rem;
    }
  }

  &--navbar,
  &--comment {
    @include flexbox(row, flex-start, center);
  }

  &--navbar {
    width: 90vw;
  }

  &--comment {
    width: 75vw;
  }
}

// .navbar__button-container {
//   // width: 100vw;
//   // @include flexbox(row, flex-start, center);
// }
// .newcomment__button-container {
//   // height: 3rem;
// }

//TODO- TABLET MODE

@include tablet {
  .button {
    width: 20vw;

    &--navbar {
      margin-right: $desk-spacing-small;
    }

    &--comment {
      height: 4.5rem;
      width: 22vw;
      margin-right: 0;
    }

    &__image {
      &--navbar {
        margin-right: 3rem;
      }

      &--comment {
        margin-right: $desk-spacing-small;
      }
    }
  }
  .newcomment__button-container {
    width: 30vw;
    height: 4.5rem;
  }
}
