@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.button {
  width: 90vw;
  height: $button-height;
  background-color: $color-primary-blue;
  color: $color-primary-white;
  border: 0;
  border-radius: $button-radius;
  text-align: center;
  cursor: pointer;

  @include flexbox(row, center, center);

  &:hover {
    background-color: $color-secondary-dark-blue;
  }

  &__image {
    color: $color-primary-white;
    height: 2rem;
    width: 2rem;
    margin-left: 1rem;

    &--navbar {
      margin-right: 9rem;
    }
    &--comment {
      margin-right: 6rem;
    }
  }

  &--navbar,
  &--comment {
    @include flexbox(row, flex-start, center);
  }

  &--navbar {
    width: 90vw;
  }

  &--comment {
    width: 75vw;
  }

  &--publish {
  }

  //NOTE change bckgrnd to white & text to blue
  &--inverted {
  }
}

// mobile wide screen mode

@include mobile-wide {
  .button {
    &__image {
      &--navbar {
        margin-right: 35vw;
      }

      &--comment {
        margin-right: 25vw;
      }
    }
  }
}

// tablet mode

@include tablet {
  .button {
    width: 20vw;

    &--navbar {
      margin-right: $desk-spacing-small;
    }

    &--comment {
      height: 4.5rem;
      width: 22vw;
      margin-right: 0;
    }

    &__image {
      &--navbar {
        margin-right: 3rem;
      }

      &--comment {
        margin-right: $desk-spacing-small;
      }
    }
  }
  .newcomment__button-container {
    width: 30vw;
    height: 4.5rem;
  }
}

// tablet - landscape mode

@include tablet-landscape {
  .button {
    &--navbar {
      width: 15vw;
    }

    &--comment {
      width: 15vw;
      margin-left: 8rem;
    }
  }

  .navbar__button-container {
    width: 15vw;
    margin-right: $mob-spacing-small;
  }
}

// desktop mode

@include desktop {
  .button {
    &--navbar {
      width: 12vw;
    }

    &--comment {
      width: 14vw;
    }

    &__image {
      &--comment {
        margin-right: 3rem;
      }
    }
  }

  .newcomment__button-container {
    width: 15.5vw;
  }
}
