@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  // width: 100vw;
  // height: 30vh;
  margin-top: $mob-spacing-small;
  background-color: $color-secondary-dark-black;
  opacity: 50%;

  @include tablet {
    margin-top: 0;
    @include flexbox(row, center, center);
  }
}
