@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.navbar {
  &__search {
    width: 85vw;
    // background-color: red;
    &-container {
      width: 100vw;
    }

    &-image {
      width: 1.2rem;
      height: 1.2rem;

      @include tablet {
        width: 1.2rem;
        height: 1.2rem;
      }
    }

    &-text {
      &::placeholder {
        color: blue;
      }
    }
  }

  &__userimage {
    width: 3.6rem;
    height: 3.6rem;

    &--mobile {
      @include tablet {
        display: none;
      }
    }

    &--tablet {
      display: none;
      @include tablet {
        display: inline-block;
      }
    }
  }
}
