@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero-video {
  &__title {
    padding-right: $mob-spacing-small;
    padding-bottom: $mob-spacing-small;
    border-bottom: $divider-width solid $divider-color;

    &-container {
      width: 90vw;
    }
  }
}

// tablet mode

@include tablet {
  .hero-video {
    &__title {
      border-bottom: 0;
      padding-bottom: 0.8rem;
    }
  }
}
