@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero-video {
  width: 95vw;

  @include flexbox(column, center, flex-start);

  &__details-container {
    width: 90vw;
    height: 7rem;
    border-bottom: $divider-width solid $divider-color;

    @include flexbox(row, flex-start, center);
  }
}
